# Task 01 - Secure Authentication
secure-user-authentication/.env
secure-user-authentication/venv/
secure-user-authentication/**/__pycache__/
secure-user-authentication/**/*.pycvenv/
.env
__pycache__/
*.pyc
.DS_Store
